* {
  font-family: "Comic Neue", cursive;
  font-family: "Coming Soon", cursive;
  font-family: "Enriqueta", serif;
  font-family: "Roboto", sans-serif;
  font-family: "Fuzzy Bubbles", cursive;
}

.container {
  width: 80%;
  margin: 3% auto;
}

.cabecalhoPrincipal-nav-link {
  font-size: 35px;
}

.containerCP {
  margin: 0 30%;
  margin-top: 5%;
}

.textoSpan {
  font-size: 40px;
}

.btn {
  background: #f178b6;
}
