
.cabecalhoPricipal .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecalhoPrincipal-titulo {
  display: flex;
}
.conteudoPrincipal {
  background: #000;
}


/*parte mobile*/
@media(max-width: 768px) {
  
}
