* {
  background: #f1f1f1;
  font-family: "Comic Neue", cursive;
  font-family: "Coming Soon", cursive;
  font-family: "Enriqueta", serif;
  font-family: "Roboto", sans-serif;
  font-family: "Fuzzy Bubbles", cursive;
}
.container {
  width: 90%;
  margin: 3% auto;
}

.cabecalhoPrincipal-titulo {
  font-weight: normal;
  font-size: 2em;
  margin-bottom: 20px;
}

.cabecalhoPricipal {
  display: flex;
  align-items: center;

}
