* {
  background: #f1f1f1;
  /* font-family: 'Comic Neue', cursive;
  font-family: 'Coming Soon', cursive;
  font-family: 'Enriqueta', serif;
  font-family: 'Roboto', sans-serif; */
  font-family: "Fuzzy Bubbles", cursive;
}

.container {
  display: grid;
}

.item {
  margin: 0 auto;
}
.titulo_principal {
    margin: 5px;
    color: #8041D6;
    font-size: 40px;
}

.titulo_subTitulo {
    margin-top: 5px;
    color: #8041D6;
    font-size: 34px;
    align-items: center;
}

.texto_conteudo {
  color: black;
}

.item.texto {
  align-items: center;
  font-size: 29px;
  font-family: "Fuzzy Bubbles", cursive;

  margin: 0px 20px;
}

.btn {
  background: #f178b6;
  width: 260px;
  height: 60px;
  margin-top: 20px;
  border: none;
  border-radius: 15px;
  font-size: 29px;
  color: #fff;
}

.rodape {
  position: absolute;
  bottom: 0;
  width: 90%;
  text-align: center;
}
